mixin sNews()
	// start sNews
	+b.SECTION.sNews.section#sNews&attributes(attributes)
		.container
			+b.section-title
				h2 Новые статьи
			mixin item-artical(i) 
				+b.card--horizontal.mb-4
					.row.g-0
						a(href="#").col-sm-4
							img.card-img-top(src=`img/@2x/${i}.jpg`, alt='')
						.col.align-self-center
							.card-body
								h5.card-title
									a.text-dark(href="#") 9 плагинов Figma, которые облегчат жизнь любого дизайнера
								p.card-text С небольшим запозданием публикую подборку плагинов, без которых вы больше не сможете представит... 
			+item-artical("artical-1")
			+item-artical("artical-2")
			+item-artical("artical-3")
			+item-artical("artical-4")
	// end sNews