mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.content
				h1 РАЗРАБАТЫВАЕМ  ЭФФЕКТИВНЫЙ ДИЗАЙН
				.h6 Мы&nbsp;не&nbsp;рисуем красивые картинки, мы&nbsp;анализируем, проектируем и&nbsp;разрабатываем эффективные инструменты для бизнеса.
				a(href="#") ОСТАВИТЬ ЗАЯВКУ
	// end headerBlock