// start .headerBlock
.headerBlock {
	background-color: #f8f8f8;
	margin-bottom: 1px;
	position: relative;
	z-index: 2;
	position: relative;
	overflow: hidden;
	border: $btn-border-radius solid   #eaeff5;
	&__container{
		// min-height: 100vh;
		// min-height: calc(var(--vh, 1vh) * 100);
		padding: rem(180) 0 rem(110);
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
	}
	&::before{
		content: '';
		background: #2F75CB;
		mix-blend-mode: normal;
		opacity: 0.07;
		transform: skewX(120deg);
		position: absolute;
		left: 100%;
		// right: 0;
		transform-origin: top left;
		top: 0;
		z-index: -1;
		width: rem(800);
		height: 100%;
	}
	&__content{
		max-width: rem(390);
		position: relative;
		z-index: 2;
	}
	h1{
		color: #20426B;
		line-height: 1;
		@extend .mono;
		margin-bottom: rem(20);
	}
	.h6{
		font-weight: normal;
		line-height: (20 / 16);
		margin-bottom: rem(24);
	}
	a{
		@extend .btn;
		@extend .btn-primary;
		width: rem(208);
	}

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock

.animate-block{
	position: absolute;
	// right: 0;
		@include media-breakpoint-up(lg) {

			right: 15px;
		}
		right: -200px;

	bottom: -120px;
	&__main{
		position: relative;

		&::before{
			content: url(../img/@2x/artical-lg.jpg);
			box-shadow: 0px 2px 40px rgba(0, 69, 153, 0.136747);
			display: block;
			border-radius: 16px;
			position: relative;
			overflow: hidden;
			
		}
	}
	&__artical{
		position: absolute;
		left: -50px;
		top: 120px;
	 
		&::before{

			box-shadow: 25px 20px 19px rgba(96, 149, 214, 0.18014);
			content: url(../img/@2x/atical-banner.png);
			display: block;
			border-radius: 16px;
			background-color: #ffffff;
			position: relative;
			overflow: hidden;

		}

	}
	&__element{
		position: absolute;
		right: 0;
		top: 0;
		&::before{
			content: '';
			display: block;
		}

		&--1{
			top: -100px;
			right: -250px;
			&::before{
				content: url(../img/@2x/element-1.png);
			}
		}
		
		&--2{
			top: 0;
			right: -350px;
			&::before{
				content: url(../img/@2x/element-2.png);
			}
		}
		&--3{
			top: 100px;
			right: 150px;
			z-index: -1;
			&::before{
				content: url(../img/@2x/element-3.png);
			}
		}

	}
}