mixin allcss() 

	link(rel="stylesheet", href="libs/@fancyapps/fancybox/jquery.fancybox.min.css")
	link(rel="stylesheet", href="css/main.min.css")
	
mixin allcjs()
 
	script(src="libs/jquery/jquery.min.js")
	 
	// modal libs
	script(src="libs/@fancyapps/fancybox/jquery.fancybox.min.js")
	// modal libs
 

	<script src="js/TweenMax.min.js"></script>
	<script src="js/scrollmagic/scrollmagic/minified/ScrollMagic.min.js"></script>
	<script src="js/scrollmagic/scrollmagic/minified/plugins/animation.gsap.min.js"></script>
	//- <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>

	script(src="js/common.js")
	//- cut text libs
	//- script(src="libs/jquery.morelines.min.js") 
	
	//- script(src="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.js")
	//- custom input range libs
	//- script(src="libs/ion.rangeSlider-2.2.0/js/ion-rangeSlider/ion.rangeSlider.js")
	//- /custom input range libs

	//- mask for  input  libs 
	//- / mask for  input  libs

	//- script(src="js/scripts.min.js")
	//- script(src="libs/magnificPopup/jquery.magnific-popup.min.js")

