mixin mnu()
	-
		var nav= { 
			"УСЛУГИ":"#",
			"БАЗА ЗНАНИЙ":"#",
			"АВТОР":"#",
			"КОНТАКТЫ":"#",
			}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		li.menu-item.current-menu-item
			a(href="#" itemprop="url") ПОРТФОЛИО
		 
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName

//- menu
//- mixin mnu()
//- 	-
//- 		var nav= {
//- 			"Главная":"/",
//- 			"Услуги  ":"#",
//- 			"Подбор септика   ":"#",
//- 			"Акции ":"#"," О компании  ":"#",
//- 			" Доставка и оплата ":"#",
//- 			" Клиентам  ":"#",
//- 			" Наши работы   ":"#",
//- 			"Контакты ":"#sContact"
//- 			}
//- 	+e.UL.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
//- 		each linkPatch, linkName in nav
//- 			+e.LI.item( itemprop="item" ): +e.A.link(href= linkPatch  itemprop="url")= linkName
//- //- /menu